
@if (ViewBag.IsVisible == true)
{
<div class="alert alert-success fade show" role="alert">
    <button type="button" class="btn-close float-left" data-bs-dismiss="alert" aria-label="Close"></button>
    <span class="h5">@ViewBag.Content</span>
    <i class="fa-solid fa-circle-check float-start mt-2"></i>
</div>
}